
RewriteEngine on
RewriteCond %{HTTP_HOST} ^janaswaaram\.janasenaparty\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.janaswaaram\.janasenaparty\.org$
RewriteRule ^/?$ "http\:\/\/janasena\.azurewebsites\.net\/" [R=301,L]

